<mapper namespace="org.hbin.mappers.UserMapper">
    <select id="getUserById" resultType="org.hbin.models.User">
        SELECT * FROM users WHERE id = ?
    </select>

    <select id="getUser" resultType="org.hbin.models.User">
        SELECT * FROM users WHERE id = ? AND name = ?
    </select>

    <insert id="insertUser">
        INSERT INTO users (id, name) VALUES (?, ?)
    </insert>
</mapper>
